.footer {
  background-color: black;
  text-align: center;
  padding: 60px;
}

.link {
  display: block;
}

.link li {
  display: inline;
}

.link a {
  color: #28C97C;
  font-size: 25px;
}

.link p {
  color: white;
  font-size: 15px;
  padding-left: 50px;

}
